In [ ]:
def print_lines(n, file_name):
    f = open(file_name)
    for i in range(n):
        print(f.readline())
    f.close()

print_lines(1, 'population_data.json')

In [4]:
import pandas as pd
df_json = pd.read_json('population_data.json', orient='records')

In [2]:
df_json.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

In [8]:
import json

# read in the json file
with open('population_data.json') as f:
    json_data = json.load(f)

# print the first record in the json file
print(json_data[0])
print('\n')

print(json_data[0]['Country Name'])
print(json_data[0]['Country Code'])

{'Country Name': 'Aruba', 'Country Code': 'ABW', 'Indicator Name': 'Population, total', 'Indicator Code': 'SP.POP.TOTL', '1960': 54211.0, '1961': 55438.0, '1962': 56225.0, '1963': 56695.0, '1964': 57032.0, '1965': 57360.0, '1966': 57715.0, '1967': 58055.0, '1968': 58386.0, '1969': 58726.0, '1970': 59063.0, '1971': 59440.0, '1972': 59840.0, '1973': 60243.0, '1974': 60528.0, '1975': 60657.0, '1976': 60586.0, '1977': 60366.0, '1978': 60103.0, '1979': 59980.0, '1980': 60096.0, '1981': 60567.0, '1982': 61345.0, '1983': 62201.0, '1984': 62836.0, '1985': 63026.0, '1986': 62644.0, '1987': 61833.0, '1988': 61079.0, '1989': 61032.0, '1990': 62149.0, '1991': 64622.0, '1992': 68235.0, '1993': 72504.0, '1994': 76700.0, '1995': 80324.0, '1996': 83200.0, '1997': 85451.0, '1998': 87277.0, '1999': 89005.0, '2000': 90853.0, '2001': 92898.0, '2002': 94992.0, '2003': 97017.0, '2004': 98737.0, '2005': 100031.0, '2006': 100832.0, '2007': 101220.0, '2008': 101353.0, '2009': 101453.0, '2010': 101669.0, '2011': 102053.0, '2012': 102577.0, '2013': 103187.0, '2014': 103795.0, '2015': 104341.0, '2016': 104822.0, '2017': 105264.0}


Aruba
ABW

In [9]:
print_lines(15, 'population_data.xml')

<?xml version="1.0" encoding="utf-8"?>

<Root xmlns:wb="http://www.worldbank.org">

  <data>

    <record>

      <field name="Country or Area" key="ABW">Aruba</field>

      <field name="Item" key="SP.POP.TOTL">Population, total</field>

      <field name="Year">1960</field>

      <field name="Value">54211</field>

    </record>

    <record>

      <field name="Country or Area" key="ABW">Aruba</field>

      <field name="Item" key="SP.POP.TOTL">Population, total</field>

      <field name="Year">1961</field>

      <field name="Value">55438</field>

    </record>

In [5]:
# import the BeautifulSoup library
from bs4 import BeautifulSoup

with open('population_data.xml') as fp:
    soup = BeautifulSoup(fp, 'lxml') #lxml is the parser type

In [4]:
# output the first 5 record in the xml file
# this is an example of how to navigate the XML document with BeautifulSoup

i = 0
# use the find_all_method to get all fields in each record
for record in soup.find_all('record'):
    # use the find all method to get all fields in each record
    i += 1
    for r in record.find_all('field'):
        print(r['name'], ':', r.text)
    print()
    if i == 5:
        break

Country or Area : Aruba
Item : Population, total
Year : 1960
Value : 54211

Country or Area : Aruba
Item : Population, total
Year : 1961
Value : 55438

Country or Area : Aruba
Item : Population, total
Year : 1962
Value : 56225

Country or Area : Aruba
Item : Population, total
Year : 1963
Value : 56695

Country or Area : Aruba
Item : Population, total
Year : 1964
Value : 57032

In [6]:
xml_dict = {}

# use the find_all_method to get all fields in each record
for record in soup.find_all('record'):
    # use the find all method to get all fields in each record
    for r in record.find_all('field'):
        xml_dict.setdefault(r['name'], []).append(r.text)

population_df = pd.DataFrame(xml_dict)

In [7]:
population_df.head()

  Country or Area               Item  Year  Value
0           Aruba  Population, total  1960  54211
1           Aruba  Population, total  1961  55438
2           Aruba  Population, total  1962  56225
3           Aruba  Population, total  1963  56695
4           Aruba  Population, total  1964  57032